{% load static %}
<!DOCTYPE html>
<html lang="ru" class="theme-{{ site_theme }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}{% endblock %}
  <title>{% block title %}{% endblock %} - КНТ МФТИ - Студенческий сайт</title>
  <link rel="icon" href="{% static 'core/img/favicon.ico' %}" type="image/x-icon">

  <script>
    (function () {
      const t = localStorage.getItem("color-scheme");
      if (t === "dark" || (!t && matchMedia("(prefers-color-scheme: dark)").matches)) {
        document.documentElement.classList.add("dark");
      }
    })();
  </script>


  <link href="{% static 'core/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
  <script defer src="{% static 'core/vendor/alpine.min.js' %}"></script>
</head>
<body>
  <i class="fa-solid fa-book"></i><i class="fa-solid fa-book"></i><i class="fa-solid fa-book"></i>
</body>
</html>